
<div style="margin-top:150px">
    <div class="row">
        <div class="col-lg-4"></div>

        <div class="col-lg-4">
            <div class="card">
            <img src="../../assets/App Logo.png" style="height: 250px;">
            <div class="card-body">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control form-control-lg" id="useremail"
                        placeholder="name@example.com" type="email" [(ngModel)]="userEmail"  required>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Password</label>
                    <input class="form-control form-control-lg" type="password" id="password" [(ngModel)]="password" required>
                </div>
                <div class="d-grid gap-2 mb-3">
                    <button class="btn btn-outline-primary" (click)="LoginUser(userEmail,password)">
                        <span class="bi bi-box-arrow-in-right">&nbsp;&nbsp;</span>Login
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4"></div>
    
    <div class="toast align-items-center text-bg-success border-0" id="showSuccessMsg" role="alert" aria-live="assertive" aria-atomic="true" >
        <div class="d-flex">
          <div class="toast-body">
           
          </div>
        </div>
    </div>
    <div class="toast align-items-center text-bg-danger border-0" id="showErrorMsg" role="alert" aria-live="assertive" aria-atomic="true" >
        <div class="d-flex">
          <div class="toast-body">
            {{ErrorMessage}}
          </div>
        </div>
    </div>
</div>
